@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --lunikoBlue: #032E59;
  --lunikoOrange: #E58004;
  --lunikoDarkGrey: #A6A6A6;
  --lunikoMidGrey: #BFBFBF;
  --lunikoLightGrey: #F2F2F2;
}

.App {
  height: 100vh;
  text-align: center;
}

#root {
  /* height: 100vh; */
  background-image: url("img/background_pattern.png");
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11pt;
}

::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  outline: none;
}

.transition-element {
  position: absolute;
  top: 56.5px;
  width: 100%;
  height: calc(100vh - 56.5px);
  /* height: 100vh; */
  background-image: url("img/background_pattern.png");
  transition: 800ms;
  z-index: 2;
}

.page-message {
  font-size: 15pt;
  font-weight: 500;
  margin-bottom: 20px;
}

/* .card-text {
  font-size: 14pt;
  font-weight: 300;
} */

.loading-spinner {
  display: flex;
  position: absolute;
  top: 56.5px;
  width: 100%;
  height: calc(100vh - 56.5px);
  justify-content: center;
  align-items: center;
  background-image: url("img/background_pattern.png");
  z-index: 2;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.button:disabled:hover {
  cursor: default !important;
  background-color: #BFBFBF !important;
}

.load-sheet-name-card-content .material-text-field {
  min-height: 76.98px !important;
  /* TODO: get rid of this */
}

.load-sheet-name-card-content .MuiBox-root {
  margin-bottom: 0 !important;
  /* TODO: get rid of this */
}

.load-sheet-name-card-content button {
  margin-top: 5px !important;
  /* TODO: get rid of this */
}

.fading-balls-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

/* TODO: maybe remove this at some point? */
ul::-webkit-scrollbar {
  width: 0px !important;
}