.alert-container {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-content: center; */
    /* justify-content: center; */
    /* margin-top: 20px; */
    height: calc(100vh - 76.52px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* .alert-container::-webkit-scrollbar {
    display: none;
} */

.alert-container .MuiSnackbar-root {
    /* padding: 10px !important; */
    /* width: 98% !important; */
    /* position: relative; */
    top: 60px !important;
}

.alert-container .MuiPaper-root {
    display: grid;
    justify-items: start;
    grid-template-columns: 90% 10%;
    /* flex-direction: row !important; */
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 500;
    letter-spacing: 0.05ch;
    /* position: relative; */
    /* top: 60px !important; */
    width: 100% !important;
    /* background-color: #009952; */
}

.alert-container .MuiSnackbarContent-action {
    padding-left: 0;
    /* margin-left: 0; */
    /* margin-right: 0; */
}

.success-alert .MuiPaper-root {
    background-color: #009952;
}

.error-alert .MuiPaper-root {
    background-color: #D32F2F;
}

.alert-container button {
    box-shadow: none !important;
}

@media screen and (min-width: 600px) {
    .alert-container .MuiSnackbar-root {
        width: 98% !important;
    }
}