.alert-container .MuiPaper-root {
    flex-direction: row !important;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 500;
    letter-spacing: 0.05ch;
    top: 60px !important;
    position: relative;
    width: 100% !important;
    /* background-color: #009952; */
}

.success-alert .MuiPaper-root {
    background-color: #009952;
}

.error-alert .MuiPaper-root {
    background-color: #d32f2f;
}

.alert-container button {
    box-shadow: none !important;
}

@media only screen and (min-width: 600px) {
    .alert-container .MuiSnackbar-root {
        min-width: 98% !important;
        /* position: relative; */
        top: 8px !important;
        /* flex-direction: row !important; */
        /* font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
        font-weight: 500;
        letter-spacing: 0.05ch;
        background-color: #009952; */
    }
}