.MuiTypography-paragraph {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 10.5pt !important;
}

.update-owned-request-container .MuiCollapse-root,
.create-request-container .MuiCollapse-root {
    margin-top: 20px;
}

/* .MuiCollapse-root .MuiTypography-root:last-of-type {
    margin-bottom: 20px !important;
} */

.MuiPaper-root {
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto !important;
    /* align-items: center; */
}

.add-personnel-dialog .MuiTypography-root,
.add-contributors-dialog .MuiTypography-root {
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    padding-bottom: 0 !important;
}

.add-personnel-dialog .MuiDialogContentText-root,
.add-contributors-dialog .MuiDialogContentText-root {
    padding-bottom: 20px !important;
}

.add-personnel-dialog button,
.add-contributors-dialog button {
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 700 !important;
    color: var(--lunikoBlue)
}

.MuiPaper-root::-webkit-scrollbar {
    display: none;
}

.MuiCardHeader-root {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.MuiCardHeader-title {
    margin-bottom: 0px !important;
}

.create-request-container .MuiCardHeader-title {
    margin-top: 10px;
}

.unowned-requests-container .MuiCardHeader-title,
.owned-requests-container .MuiCardHeader-title,
.update-owned-request-container .MuiCardHeader-title,
.submitted-requests-container .MuiCardHeader-title {
    position: relative;
    left: -20px;
}

.MuiCardHeader-content {
    width: 100% !important;
    display: flex;
    justify-content: center;
    /* margin-left: 30px !important; */
}

.MuiCardActions-root {
    width: 100% !important;
}

.MuiCardActions-root button {
    box-shadow: none !important;
}

.MuiCardContent-root {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

}

.MuiTypography-paragraph {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 10.5pt !important;
}

.submit-checklist-button {
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: var(--lunikoBlue);
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    transition: 0.1s;
    box-shadow: 2px 2px 4px rgba(43, 43, 43, 0.6);
}