.create-pre-conversion-checklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: calc(100vh - 76.52px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.create-pre-conversion-checklist::-webkit-scrollbar {
    display: none;
}

.create-pre-conversion-checklist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
    max-width: 600px;
    padding-bottom: 20px;
}

.create-pre-conversion-checklist-card {
    width: 100%;
}