.form-approval-container {
    display: flex;
    flex-direction: row !important;
    max-height: 27px;
    padding: 0 !important;
    margin-top: 5px;
    /* margin-left: 9px; */
    /* margin-bottom: 10px !important; */
    width: 100% !important;
    height: 40px !important;
    font-size: 1rem;
}

/* .no-valid-credential-supplied-approval-container,
.valid-credential-approval-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .no-valid-credential-supplied-approval-container {
    margin-left: 10px;
}

.no-valid-credential-supplied-approval-container svg {
    color: var(--lunikoBlue) !important;
} */

/* .no-valid-credential-supplied-approval-container svg:hover {
    cursor: pointer;
} */

.form-approval-container p {
    display: flex;
    height: 100%;
    align-items: center !important;
}

.password-form-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 9px;
}

.password-form-dialog-container button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.password-form-dialog-container button svg {
    margin-left: 10px;
}

.password-form-dialog-container button:not(:disabled) svg:hover {
    color: var(--lunikoBlue);
    cursor: pointer;
}

.dialog-component .MuiInput-root::after {
    border-bottom: 2px solid var(--lunikoBlue) !important;
}

.dialog-component .Mui-error:after {
    border-bottom: 2px solid #d32f2f !important;
}

/* prevents dialog box from growing when helper text is posted */
.dialog-component .MuiDialogContent-root {
    padding-bottom: 0 !important;
}

.dialog-component .MuiInputLabel-shrink {
    padding-right: 0 !important;
    background-color: transparent !important;
    transform: translate(0px, 0px) scale(0.75) !important;
}

.dialog-component .MuiTypography-root {
    /* font-size: 11pt !important; */
    padding-bottom: 0;
}

.MuiDialogTitle-root {
    font-weight: 600;
    font-size: 13pt !important;
}

.dialog-component .MuiDialogContentText-root {
    margin-bottom: 10px !important;
}

.dialog-component .MuiFormControl-root {
    min-height: 70.91px;
}

.dialog-component .MuiFormControl-root:last-of-type:not(:first-of-type) {
    margin-top: 15px !important;
}

.dialog-component .MuiButton-root {
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--lunikoBlue);
    font-size: 1.75ch;
    font-weight: 700;
}

/* .MuiDialogContent-root {
    background-image: url("../img/background_pattern.png");
} */

/* .checkbox-dialog button {
    color: var(--lunikoBlue);
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    box-shadow: none !important;
} */