.MuiBox-root {
    width: 100% !important;
    display: flex;
    margin-bottom: 15px !important;
    /* margin-top: 5px; */
}

.material-text-field {
    width: 100% !important;
}

.MuiFormControl-root {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.add-personnel-dialog .MuiFormControl-root,
.add-contributors-dialog .MuiFormControl-root {
    min-height: 70.91px !important;
}

.add-personnel-dialog .MuiFormControl-root:last-of-type,
.add-contributors-dialog .MuiFormControl-root:last-of-type {
    margin-top: 10px !important;
}


.add-personnel-dialog #first-name, #last-name,
.add-contributors-dialog #first-name, #last-name {
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
}


.MuiOutlinedInput-root {
    min-height: 50px !important;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 11pt !important;
}

.data-sources .MuiOutlinedInput-root,
.pre-cleanup-notes .MuiOutlinedInput-root,
.post-cleanup-notes .MuiOutlinedInput-root,
.pre-conversion-manipulation .MuiOutlinedInput-root {
    min-height: 200px !important;
}

.MuiOutlinedInput-input {
    align-self: flex-start !important;
    /* position: relative; */
    /* top: -2.5px; */
}

.MuiInputLabel-root {
    top: -2.5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    z-index: 1 !important;
}

.MuiError, .Mui-error {
    color: #d32f2f !important;
}

/* .MuiInputLabel-shrink {
    top: 0px !important;
    color: var(--lunikoBlue) !important;
} */

/* .MuiOutlinedInput-notchedOutline {
    border-color: var(--lunikoBlue) !important;
} */