.MuiBox-root {
    width: 100% !important;
    display: flex;
    margin-bottom: 15px !important;
    /* margin-top: 5px; */
}

.material-text-field {
    width: 100% !important;
}

.MuiFormControl-root {
    width: 100% !important;
    margin: 0 !important;
}

.MuiOutlinedInput-root {
    height: 50px !important;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 11pt !important;
}


.data-sources .MuiOutlinedInput-root,
.pre-cleanup-notes .MuiOutlinedInput-root,
.post-cleanup-notes .MuiOutlinedInput-root,
.pre-conversion-manipulation .MuiOutlinedInput-root {
    min-height: 200px !important;
}

.MuiOutlinedInput-input {
    align-self: flex-start !important;
    position: relative;
    top: -3px;
}

.MuiInputLabel-root {
    top: -2.5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
}

/* .MuiInputLabel-shrink {
    top: 0px !important;
    color: var(--lunikoBlue) !important;
} */

/* .MuiOutlinedInput-notchedOutline {
    border-color: var(--lunikoBlue) !important;
} */