.pre-conversion-checklist-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: calc(100vh - 76.52px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pre-conversion-checklist-options::-webkit-scrollbar {
    display: none;
}

.pre-conversion-checklist-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--lunikoDarkGrey);
    padding: 20px;
    border-radius: 20px;
    width: 95%;
    height: 220px;
    max-width: 350px;
    box-shadow: 2px 2px 6px rgba(43, 43, 43, 0.884);
    margin-top: 20px;
    margin-bottom: 40px;
}

.create-pre-conversion-checklist-button {
    margin-top: 30px;
}

.view-pre-conversion-checklist-button {
    margin-top: 0;
}

.pre-conversion-checklist-options-container a {
    width: 100%;
}

.pre-conversion-checklist-options-container button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: var(--lunikoBlue);
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    transition: 0.1s;
    box-shadow: 2px 2px 4px rgba(43, 43, 43, 0.6);
}

.pre-conversion-checklist-options-container button:hover {
    cursor: pointer;
    background-color: var(--lunikoOrange);
}