.view-post-conversion-checklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: calc(100vh - 76.52px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.view-post-conversion-checklist::-webkit-scrollbar {
    display: none;
}

.view-post-conversion-checklist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
    max-width: 600px;
    padding-bottom: 20px;
}

.view-post-conversion-checklist-card {
    width: 100%;
}

.submit-load-sheet-name-button, .submit-checklist-button {
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: var(--lunikoBlue);
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    transition: 0.1s;
    box-shadow: 2px 2px 4px rgba(43, 43, 43, 0.6);
}

.submit-load-sheet-name-button:not(:disabled):hover {
    background-color: var(--lunikoOrange) !important;
}

.submit-checklist-button:not(:disabled):hover {
    background-color: #009952 !important;
}