.enter-valid-load-sheet-name,
.view-conversion-checklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: calc(100vh - 76.52px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.enter-valid-load-sheet-name-container,
.view-conversion-checklist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
    max-width: 900px;
    padding-bottom: 20px;
}

.enter-valid-load-sheet-name-card,
.view-conversion-checklist-card {
    width: 100%;
}

.view-conversion-checklist-card p {
    font-size: 12pt !important;
}

.submit-load-sheet-name-button,
.back-button {
    padding: 10px;
    /* margin-bottom: 10px; */
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    transition: 0.2s;
    box-shadow: 2px 2px 4px rgba(43, 43, 43, 0.6);
}

.submit-load-sheet-name-button:not(:disabled),
.back-button {
    background-color: var(--lunikoBlue);
}

.submit-load-sheet-name-button:not(:disabled):hover,
.back-button:hover {
    background-color: var(--lunikoOrange);
}

.submit-load-sheet-name-button:disabled {
    background-color: #BFBFBF;
}

.view-data-sources,
.view-pre-cleanup-notes,
.view-post-cleanup-notes,
.view-pre-conversion-manipulation,
.view-post-conversion-loading-errors,
.view-post-conversion-validation-results,
.view-post-conversion-changes {
    white-space: pre-wrap;
}